footer {
    padding: 20px 0;  background: #252525;
  
  
  .footer-copyright { background: #222; padding: 5px 0;}
  .footer-copyright .logo {    display: inherit;}
  .footer-copyright nav {    float: right;    margin-top: 5px;}
  .footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
  .footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
  .footer-copyright nav ul li a{  color: #969696;}
  .footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
  .footer-copyright p { color: #969696; margin: 2px 0 0;}
  
 
  .footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}
  

   .footer-top, footer.transparent .main-footer{  background: transparent;}
  .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}
  

  .footerlight .footer-top{ background: #f9f9f9;}
  .footer.light .main-footer{  background: #f9f9f9;}
  .footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;} 
  

  .footer- .logo {    display: inline-block;}
  

  .widget{  padding: 20px;  margin-bottom: 40px;}
  .widget.widget-last{  margin-bottom: 0px;}
  .widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
  .widget.subscribe p{  margin-bottom: 18px;}
  .widget li a{ color: #ff8d1e;}
  .widget li a:hover{ color: #4b92dc;}
  .widget-title {margin-bottom: 20px;}
  .widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
  .widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
  .widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
  .widget .badge{ float: right; background: #7f7f7f;}
  
  .typo-light h1, 
  .typo-light h2, 
  .typo-light h3, 
  .typo-light h4, 
  .typo-light h5, 
  .typo-light h6,
  .typo-light p,
  .typo-light div,
  .typo-light span,
  .typo-light small{  color: #fff;}
 
  .ul.social-footer2 { margin: 0;padding: 0; width: auto;}
  .ul.social-footer2 li {display: inline-block;padding: 0;}
  .ul.social-footer2 li a:hover {background-color:#ff8d1e;}
  .ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
  .btn1:hover{background-color: #ff8d1e; color:#fff;}
  .btn1:hover, .btn1:focus, .btn1.active {background: #4b92dc;color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  
  }
}
.cartitems{

  text-align: center;
  
}



.logo1{
border-radius: 800%;
height: 50px;
}
.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem
  }
  .categories .box{
    background:white;
    box-shadow: var(--box-shadow);
    border-radius: 0.9rem;
    padding: 3rem 2rem;
    text-align: center;
    outline: var(--outline);
    outline-offset: -1rem;
    
  }
  .categories .box:hover{
    outline-offset: 0;
    outline: var(--outline-hover);
  }
  .categories .box img{
    height: 8rem;
  
  }
  .categories .box h3{
    font-size:1.5rem;
    line-height:1;
    color: var(--black);
  }
  .categories .box p{
    color: var(--light-color);
    list-style: 1.8;
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  nav ul li{
    font-variant: small-caps;
    font-size: 16px;
  
  }
  nav{
    border: 1px solid black;
  }
nav ul li:hover{
background-color: #ff8d1e;
border: 1px solid black;
border-radius: 10px;  box-sizing: 1px
}
h1{
 
  font-variant: small-caps;
  color: var(--orange);
}

  .app {
    overflow-x: hidden;
  }
  .btn{
    background-color:rgb(248, 122, 5);
    border: 1px solid black;
  box-sizing: border-box;
  }

  .box{
   
    border: 1px solid rgb(244, 6, 6);
  box-sizing: border-box;
  }
  .box:hover{
   
    border: 1px solid rgb(9, 9, 9);
  box-sizing: border-box;

  }

  .btn:hover{
    background-color:yellowgreen;
    color:black;
    border: 1px solid black;
  box-sizing: border-box;
  }
.page {
    position: relative;
}

.page>div {
    position: absolute;
    background: var(--bg-color);
    left: 0;
    right: 0;
    top: 0;
}
.img-thumbnail:hover {
  transform: scale(1.5);
}
.active {
  background-color: #e6d5b8;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 500px) {
  .text {font-size: 11px}
}

.nearby{
  height: 30rem;
  width: 18rem;
}
  .card-img-top{
    width:700px;
    height: 250px;
  }
  div a{
    text-decoration: none;
  }
  p a{
    color:#ff8d1e
  }
  .linkss:hover{ 
    background-color:#ff8d1e;
  }
.heading span {
  background-color: #ff8d1e;
 }
 .logo2{
  border-radius:100%;
height: 80px;
margin-bottom: -60px;
 }
.B {
  border-color: #ff0000;
}
.B {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
}
/*cards*/

.grid-wrapper {
  /*you can use display grid and start adding cards in a row*/
  /*display: grid;*/
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /*only using it to showcase the card at the center here*/
}

.card {
    max-width: 400px;/*only using it for better showcase here*/
    margin: 20px 7px; /*only using it for better showcase here*/
}
  
.card-container {
    display: -ms-grid;
    display: grid;
    -webkit-perspective: 700px;
            perspective: 700px;
    padding-bottom: 30px;
}
  
.card-title p, h4, h5 {
    font-family: 'Nunito' !important;
    text-align: center;
    color: white;
}
  
.card-text {
    font-family: 'Nunito' !important;
    text-align: center;
    color: white;
}
  
.card-flip {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr / 1fr;
        grid-template-areas: "frontAndBack";
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
  
.card-flip div {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
  
.front {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: frontAndBack;
    background-color: #383428 !important;
}

.back {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: frontAndBack;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    background-color: #383428 !important;
    margin: 0;
    padding: 0;
}
  
.card-container:hover .card-flip {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.btn {
    color: #383428 !important;
}

.btn:hover {
    color: white !important;
}

.rating {
    text-decoration: none;
    color: #ff9800 !important;
}

.rating:hover {
    text-decoration: none;
    color: #ffcc80 !important;
}
  
.movie {
    position: fixed;
    z-index: -1;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    bottom: 0;
}



.card {
  padding: 10px 0px 10px;
  background-color: #333333;
  min-height: 400px;
  max-height: 600px;
  border-radius: 8px;
  box-shadow: 0px 8px 20px #0000007a;
}

.card-body {
  padding: 0px 15px;
  color: white;
}

.panel-default {
  border: none;
}

.panel-group {
  position: absolute;
  bottom: -1px;
  margin-bottom: 0px;
  width: 100%;
  padding-right: 30px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
  border: none;
}

.panel-group .panel {
  border-radius: 0px 0px 8px 8px;
  background-color: #e6e6e6;
}

.panel-body {
  min-height: 250px;
  overflow: auto;
  border-radius: 0px 0px 8px 8px;
  padding: 0px 15px 10px;
}

.panel-default>.panel-heading {
  background-color: transparent;
}

.panel-heading {
  text-align: center;
  padding: 0px;
  height: 35px;
  border: none;
}

.panel-button {
  padding: 20px;
  background: #999999;
  border-radius: 100%;
  position: relative;
  top: -13px;
  z-index: 9999;
}

.panel-button .plus-minus:before{
  content: "\f067";
  font-family: "FontAwesome";
}

.panel-button[aria-expanded="true"] .plus-minus:before{
  content: "\f068";
  font-family: "FontAwesome";
}



a.panel-button:hover, a.panel-button:focus {
  text-decoration: none;
}

a.panel-button {
  font-size: 18px;
  color: #333333;
  box-shadow: 0px 3px 7px #0000004a;
}

.card-section {
  height: 100vh;
  display: table;
  width: 100%;
  background-color: slategray;
overflow: hidden;
}

.card-section > .inner {
  display: table-cell;
  vertical-align: middle;
  
}

@media (max-width: 991px) {
  .card {
      margin-top: 20px;
      margin-bottom: 20px;
  } 
} 

@media (max-width: 768px) {
.card {
  min-height: 300px;
}
.panel-body {
  max-height: 200px;
  font-size: 15px;
  padding: 0px 5px;
}
}


.row {
  margin: 15px;
}